In [3]:
import os
import pandas as pd
import numpy as np
import datetime
import psycopg2

In [4]:
def get_db_connex():
    conn = psycopg2.connect(host="localhost", database="crosstown")
    return conn.cursor()

In [5]:
columns = [
    'AD',
    'ED',
    'County',
    'EDAD Status',
    'Event',
    'Party/Independent Body',
    'Office/Position Title',
    'District Key',
    'VoteFor',
    'Unit Name',
    'Tally'
]

In [6]:
def load_data(filepath):
    return pd.read_csv(
        filepath, 
        names = columns,
        usecols=list(range(11,22))
    )

def data_to_db(df):
    df.to_sql(name='results', con=conn, schema='public')
    
def data_from_db(cur, query):
    cur.execute(query)
    return cur.fetchall()
    
def write_metadata(bod_id, df):
    date = get_date(df)
    office = get_office(df)
    district = get_district(df)
    rows = len(df)
    sql_query = ("INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('"+
        bod_id+
        "', to_date('"+
        date+
        "'::text, 'YYYY-MM-DD'),'"+
        office+
        "','"+
        str(district)+
        "',"+
        str(rows)+
        ");"
    )
    query = 'psql -h localhost crosstown -c "' + sql_query + '"'
    print('** write metadata', query)
    os.system(query)

def write_data(bod_id, df):
    data_path = get_path(bod_id, df)
    full_path = './data/clean/'+data_path
    df.to_csv(full_path, index=False)
#     print('** skip write_data')
    query = ('cat '+
        full_path+
        ' | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally) from stdin CSV HEADER"'
    )
    print('** write data', query)    
    os.system(query)
    
def get_path(bod_id, df):
    event = df['Event'][0].split(' - ')
    return event[1][-4:] + '/' + bod_id + '.csv'

def get_date(df):
    event = df['Event'][0].split(' - ')
    return str(datetime.datetime.strptime(event[1][-10:], '%m/%d/%Y').date())

def get_office(df):
    return df["Office/Position Title"][0]

def get_district(df):
    return df["District Key"][0]

def control(raw_file):
    data = load_data('./data/raw/'+raw_file)
    bod_id = raw_file[0:11]
    write_data(bod_id, data)
    write_metadata(bod_id, data)

In [7]:
## https://vote.nyc/page/election-results-summary
cur = get_db_connex()
files = os.listdir('./data/raw')
loaded_files_bod_ids = set(map(lambda x: x[0], data_from_db(cur, """SELECT * FROM datasets""")))
unloaded_files = list(filter(lambda x: x[0:11] not in loaded_files_bod_ids, files))

In [8]:
len(unloaded_files)

0

In [12]:
for f in unloaded_files:
    print('* starting file ', f)
    control(f)

* starting file  00102300071New York Member of the Assembly 71st Assembly District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102300071', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Member of the Assembly','71',823);"
* starting file  00102300068New York Member of the Assembly 68th Assembly District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102300068', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Member of the Assembly','68',944);"
* starting file  00101200000New York Public Advocate Citywide EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00101200000', to_date('2019-02-26'::text, 'YYYY-MM-DD'),'Public Advocate','NYC',18324);"
* starting file  00102100028New York State Senator 28th Senatorial District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102100028', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'State Senator','28',2684);"
* starting file  00150200000New York Civic Engagement Commission Citywide EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00150200000', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Civic Engagement Commission','NYC',9036);"
* starting file  00102300075New York Member of the Assembly 75th Assembly District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102300075', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Member of the Assembly','75',1016);"
* starting file  01102300069New York Democratic Member of the Assembly 69th Assembly District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('01102300069', to_date('2018-09-13'::text, 'YYYY-MM-DD'),'Member of the Assembly','69',748);"
* starting file  00102000013New York Representative in Congress 13th Congressional District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102000013', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Representative in Congress','13',4076);"
* starting file  00102300072New York Member of the Assembly 72nd Assembly District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102300072', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Member of the Assembly','72',804);"
* starting file  00102100029New York State Senator 29th Senatorial District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102100029', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'State Senator','29',759);"
* starting file  00100900000New York United States Senator Citywide EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00100900000', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'United States Senator','NYC',15924);"
* starting file  00102300067New York Member of the Assembly 67th Assembly District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102300067', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Member of the Assembly','67',903);"
* starting file  00102000007New York Representative in Congress 7th Congressional District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102000007', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Representative in Congress','7',673);"
* starting file  00102100026New York State Senator 26th Senatorial District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102100026', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'State Senator','26',1632);"
* starting file  00100800000New York Attorney General Citywide EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00100800000', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Attorney General','NYC',17176);"
* starting file  00102401009New York Judge of the Civil Court - District 9th Municipal Court District - New York EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102401009', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Judge of the Civil Court - District','1009',591);"
* starting file  01102401002New York Democratic Judge of the Civil Court - District 2nd Municipal Court District - New York EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('01102401002', to_date('2018-09-13'::text, 'YYYY-MM-DD'),'Judge of the Civil Court - District','1002',815);"
* starting file  00102100027New York State Senator 27th Senatorial District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102100027', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'State Senator','27',2067);"
* starting file  00102300065New York Member of the Assembly 65th Assembly District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102300065', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Member of the Assembly','65',763);"
* starting file  00102100031New York State Senator 31st Senatorial District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102100031', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'State Senator','31',2667);"
* starting file  00150100000New York Campaign Finance Citywide EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00150100000', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Campaign Finance','NYC',9036);"
* starting file  00101600001New York Justice of the Supreme Court 1st Judicial District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00101600001', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Justice of the Supreme Court','1',11350);"
* starting file  00101700010New York Judge of the Civil Court - County New York EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00101700010', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Judge of the Civil Court - County','10',10037);"
* starting file  01100800000New York Democratic Attorney General Citywide EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('01100800000', to_date('2018-09-13'::text, 'YYYY-MM-DD'),'Attorney General','NYC',10412);"
* starting file  00102401001New York Judge of the Civil Court - District 1st Municipal Court District - New York EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102401001', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Judge of the Civil Court - District','1001',761);"
* starting file  00102300069New York Member of the Assembly 69th Assembly District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102300069', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Member of the Assembly','69',850);"
* starting file  00102300076New York Member of the Assembly 76th Assembly District EDLevel.csv

** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102300076', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Member of the Assembly','76',894);"
* starting file  00102100030New York State Senator 30th Senatorial District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102100030', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'State Senator','30',2026);"
* starting file  00102401006New York Judge of the Civil Court - District 6th Municipal Court District - New York EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102401006', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Judge of the Civil Court - District','1006',1219);"
* starting file  01102300072New York Democratic Member of the Assembly 72nd Assembly District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('01102300072', to_date('2018-09-13'::text, 'YYYY-MM-DD'),'Member of the Assembly','72',710);"
* starting file  01102100031New York Democratic State Senator 31st Senatorial District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('01102100031', to_date('2018-09-13'::text, 'YYYY-MM-DD'),'State Senator','31',2126);"
* starting file  00102000010New York Representative in Congress 10th Congressional District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102000010', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Representative in Congress','10',3733);"
* starting file  00102401010New York Judge of the Civil Court - District 10th Municipal Court District - New York EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102401010', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Judge of the Civil Court - District','1010',564);"
* starting file  01100400000New York Democratic Governor Citywide EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('01100400000', to_date('2018-09-13'::text, 'YYYY-MM-DD'),'Governor','NYC',8232);"
* starting file  00102300073New York Member of the Assembly 73rd Assembly District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102300073', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Member of the Assembly','73',1099);"
* starting file  00150300000New York Community Boards Citywide EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00150300000', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Community Boards','NYC',9036);"
* starting file  01102401004New York Democratic Judge of the Civil Court - District 4th Municipal Court District - New York EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('01102401004', to_date('2019-06-25'::text, 'YYYY-MM-DD'),'Judge of the Civil Court - District','1004',627);"
* starting file  00102401005New York Judge of the Civil Court - District 5th Municipal Court District - New York EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102401005', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Judge of the Civil Court - District','1005',1157);"
* starting file  00102300074New York Member of the Assembly 74th Assembly District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102300074', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Member of the Assembly','74',996);"
* starting file  01102300071New York Democratic Member of the Assembly 71st Assembly District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('01102300071', to_date('2018-09-13'::text, 'YYYY-MM-DD'),'Member of the Assembly','71',820);"
* starting file  00102000012New York Representative in Congress 12th Congressional District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102000012', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Representative in Congress','12',4365);"
* starting file  00102401003New York Judge of the Civil Court - District 3rd Municipal Court District - New York EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102401003', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Judge of the Civil Court - District','1003',737);"
* starting file  00102401002New York Judge of the Civil Court - District 2nd Municipal Court District - New York EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102401002', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Judge of the Civil Court - District','1002',875);"
* starting file  00100500000New York Governor Lieutenant Governor Citywide EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00100500000', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Governor/Lieutenant Governor','NYC',20026);"
* starting file  01100600000New York Democratic Lieutenant Governor Citywide EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('01100600000', to_date('2018-09-13'::text, 'YYYY-MM-DD'),'Lieutenant Governor','NYC',8043);"
* starting file  00102300066New York Member of the Assembly 66th Assembly District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102300066', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Member of the Assembly','66',820);"
* starting file  00100700000New York State Comptroller Citywide EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00100700000', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'State Comptroller','NYC',18190);"
* starting file  00102300070New York Member of the Assembly 70th Assembly District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('00102300070', to_date('2018-11-06'::text, 'YYYY-MM-DD'),'Member of the Assembly','70',749);"
* starting file  01102300074New York Democratic Member of the Assembly 74th Assembly District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('01102300074', to_date('2018-09-13'::text, 'YYYY-MM-DD'),'Member of the Assembly','74',796);"
* starting file  01102300068New York Democratic Member of the Assembly 68th Assembly District EDLevel.csv
** skip write_data
** write metadata psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, office, district_key, rows) VALUES ('01102300068', to_date('2018-09-13'::text, 'YYYY-MM-DD'),'Member of the Assembly','68',717);"

In [13]:
cur.close()