In [4]:
import os
import pandas as pd
import numpy as np
import datetime
import psycopg2

In [56]:
def get_db_connex():
    conn = psycopg2.connect(host="localhost", database="crosstown")
    return conn.cursor()

In [6]:
columns = [
    'AD',
    'ED',
    'County',
    'EDAD Status',
    'Event',
    'Party/Independent Body',
    'Office/Position Title',
    'District Key',
    'VoteFor',
    'Unit Name',
    'Tally'
]

In [59]:
def load_data(filepath, cols = list(range(11,22)), header = None):
    return pd.read_csv(
        filepath, 
        names = columns,
        usecols = cols,
        header = header
    )

def data_to_db(df):
    df.to_sql(name='results', con=conn, schema='public')
    
def data_from_db(cur, query):
    cur.execute(query)
    return cur.fetchall()
    
def write_metadata(bod_id, df):
    date, event_name = get_date_and_event_name(df)
    office = get_office(df)
    district = get_district(df)
    rows = len(df)
    sql_query = ("INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('"+
        bod_id+
        "', to_date('"+
        date+
        "'::text, 'YYYY-MM-DD'),'"+
        event_name + 
        "','" +
        office+
        "','"+
        str(district)+
        "',"+
        str(rows)+
        ");"
    )
    query = 'psql -h localhost crosstown -c "' + sql_query + '"'
    print('** meta query  **', query)
    res = os.system(query)
    print('** meta status ** ', res)

def write_data(bod_id, df):
    ## append bod_id column to end of DF
    df['bod_id'] = bod_id
    data_path = get_path(bod_id, df)
    full_path = './data/clean/'+data_path
    df.to_csv(full_path, index=False)
#     print('** skip write_data')
    query = ('cat '+
        full_path+
        ' | psql -h localhost crosstown -c '+
             '"COPY results(ad, ed, county, edad_status, event, party,'+
             ' office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"'
    )
    print('** data query  ** ', query)    
    res = os.system(query)
    print('** data status ** ', res)
    
def get_path(bod_id, df):
    event = df['Event'][0].split(' - ')
    return event[1][-4:] + '/' + bod_id + '.csv'

def get_date_and_event_name(df):
    event = df['Event'][0].split(' - ')
    return (str(datetime.datetime.strptime(event[1][-10:], '%m/%d/%Y').date()), event[0])

def get_office(df):
    return df["Office/Position Title"][0]

def get_district(df):
    return df["District Key"][0]

def count_cols(path):
    data = pd.read_csv(path, nrows=1)
    return data.size

def control(year, raw_file):
    bod_id = raw_file[0:11]
    path = './data/raw/'+year+'/'+raw_file
    
    nCols = count_cols(path)
    
    if nCols == 22:
        cols = list(range(11,22))
        header = None
    elif nCols == 11:
        cols = list(range(0, 11))
        header = 0
    else:
        print("Unrecognized number of columns, exiting on ", bod_id)
        return

    data = load_data(path, cols, header)
    if len(data) == 0:
        print("No data, exiting on ", bod_id)
        return
    date = get_date(data)
    if is_dataset_in_datasets(bod_id, date):
        print ("Already loaded, exiting on ", bod_id)
        return
    write_data(bod_id, data)
    write_metadata(bod_id, data)
    
def is_dataset_in_datasets(bod_id, date):
    res = data_from_db(
        cur, 
        """SELECT * FROM datasets WHERE bod_id = '"""+ bod_id +"""' and date = '"""+ date +"""' """
    )
    return len(res) > 0

In [57]:
## https://vote.nyc/page/election-results-summary
## CAUTION ID bod_id is unique by office, not by election date
## datasets is unique by bod_id / date
cur = get_db_connex()
years = list(filter(lambda x: x != '.DS_Store', os.listdir('./data/raw')))
loaded_files_bod_ids = map(lambda x: (x[0], str(x[1])), data_from_db(cur, """SELECT * FROM datasets"""))
years

['2013', '2014', '2015', '2012', '2017', '2019', '2020', '2018', '2016']

In [60]:
year = '2020'
files = list(filter(lambda x: x != '.DS_Store', os.listdir('./data/raw/'+year)))
for f in files:
    control(year, f)
# raw_file = files[fileIndex]
# extraCols = False
# bod_id = raw_file[0:11]
    
# if extraCols:
#     cols = list(range(11,22))
#     header = None
# else:
#     cols = list(range(0, 11))
#     header = 0

# data = load_data('./data/raw/'+raw_file, cols, header)
# date = get_date(data)
# is_dataset_in_datasets(bod_id, date)

** data query  **  cat ./data/clean/2020/01202400085.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01202400085', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Member of the Assembly','85',613);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01402400031.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01402400031', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Member of the Assembly','31',895);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01000200000.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01000200000', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Presidential Primary Election 2020','President','NYC',92084);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01002100007.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01002100007', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Representative in Congress','7',3685);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01401900013.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01401900013', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Borough President','13',14296);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01002200023.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01002200023', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','State Senator','23',1620);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01302200019.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01302200019', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','State Senator','19',1736);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01302400043.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01302400043', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Member of the Assembly','43',639);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01402400039.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01402400039', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Member of the Assembly','39',412);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01202200034.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01202200034', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','State Senator','34',1820);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01102400073.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01102400073', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Member of the Assembly','73',786);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01202100015.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01202100015', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Representative in Congress','15',8288);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01202400087.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01202400087', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Member of the Assembly','87',718);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01402400038.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01402400038', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Member of the Assembly','38',575);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01302400050.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01302400050', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Member of the Assembly','50',783);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01202400079.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01202400079', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Member of the Assembly','79',997);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01302100009.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01302100009', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Representative in Congress','9',5388);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01402100006.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01402100006', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Representative in Congress','6',3772);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01302400057.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01302400057', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Member of the Assembly','57',765);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01002100014.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01002100014', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Representative in Congress','14',4064);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01402200013.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01402200013', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','State Senator','13',1140);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01202200032.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01202200032', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','State Senator','32',1808);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01302400056.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01302400056', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Member of the Assembly','56',705);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01402400037.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01402400037', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Member of the Assembly','37',715);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01402400036.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01402400036', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Member of the Assembly','36',604);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01002100010.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01002100010', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Representative in Congress','10',4603);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01202400078.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01202400078', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Member of the Assembly','78',545);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01402400034.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01402400034', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Member of the Assembly','34',717);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01102400065.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01102400065', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Member of the Assembly','65',719);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01402200012.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01402200012', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','State Senator','12',1521);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01402400033.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01402400033', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Member of the Assembly','33',579);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01402400035.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01402400035', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Member of the Assembly','35',474);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01302200025.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01302200025', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','State Senator','25',2259);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01102400071.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01102400071', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Member of the Assembly','71',793);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01402400024.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01402400024', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Member of the Assembly','24',735);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01202100016.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01202100016', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Representative in Congress','16',2133);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01002100013.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01002100013', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Representative in Congress','13',4600);"
** meta status **  0
** data query  **  cat ./data/clean/2020/01402400040.csv | psql -h localhost crosstown -c "COPY results(ad, ed, county, edad_status, event, party, office, district_key, vote_for, unit_name, tally, bod_id) from stdin CSV HEADER"
** data status **  0
** meta query  ** psql -h localhost crosstown -c "INSERT INTO datasets(bod_id, date, event_name, office, district_key, rows) VALUES ('01402400040', to_date('2020-06-23'::text, 'YYYY-MM-DD'),'Primary Election 2020','Member of the Assembly','40',426);"
** meta status **  0

In [48]:
len("Special Election City Council District 45 - 05/14/2019")

54

In [55]:
cur.close()